
.about {
    .map-wrapper {
        height: 50vh;
    }

    .img-wrapper {
        width: 100%;
    }

    .img-wrapper img {
        width: 100%;
        height: 1000px;
    }


    .title {
        font-size: 2rem;
        text-transform: capitalize;
        text-align: left;
    }
}