.not-found {
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    margin-left: 4rem;
    color: #333;
  }

  h1 {
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 64px;
  }

  p {
    font-family: "Space Mono";
    font-weight: 500;
    font-size: 24px;
    max-width: 381px;
  }

  article {
    flex: 2;
    min-width: 328px;
    margin-top: 2rem;
    margin-left: 3rem;
    max-width: 100%;
  }

  h1 {
    margin-bottom: 1em;
    max-width: 600px;
  }

  img {
    width: 100%;
    max-width: 540px;
    min-width: 400px;
    max-height: 448px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    flex: 1;
  }

  footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #bdbdbd;
    margin-top: 15rem;
  }

  .creator {
    color: #bdbdbd;
    text-decoration: none;
    font-weight: bold;
  }

  button {
    background-color: #333333;
    color: white;
    padding: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    header p {
      margin-left: 2rem;
    }
    main {
      margin-top: 5rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    p {
      font-size: 20px;
    }
    img {
      min-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
    article {
      margin-left: 0rem;
    }

    footer p {
      margin-top: 2rem;
    }
  }
}
