.section {
  margin-bottom: 80px;

  & > * ~ * {
    margin-top: 70px;

    @include mobile {
      margin-top: 40px;
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    position: relative;
  }

  &__titleV1 {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    align-items: center;
    text-transform: uppercase;

    a {
      font-size: 1rem;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &__view {
    display: inline-block;
    margin-left: auto;
    position: absolute;
    right: 0;
    font-size: 13px;
  }
}
